7segled.flow
[{"id":"955a5f0b.f1ef7","type":"function","z":"2a35a231.efc376","name":"SET LCD TO #1","func":"\n// You can send a command to the candle which address each panel \n// below would display #2\nvar newmsg = {\"cmd\" : \"set7SLED\",\n\"A\":0,\n\"B\":0,\n\"C\":0,\n\"D\":0,  \n\"E\":1,\n\"F\":1,\n\"G\":0,\n\"DP\":0,\n\"N\":1\n}\nmsg.eventOrCommandType = \"set7SLED\"\nmsg.payload=newmsg ;\nreturn msg;\n","outputs":1,"noerr":0,"x":940,"y":340,"wires":[["707819e.a7114e8"]]},{"id":"21433519.4ac50a","type":"ibmiot in","z":"2a35a231.efc376","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"playbulb23","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IR Events From PI - adjust name","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":250,"y":180,"wires":[["44ca3bd1.d627f4"]]},{"id":"44ca3bd1.d627f4","type":"debug","z":"2a35a231.efc376","name":"Pings","active":false,"console":false,"complete":"payload","x":510,"y":180,"wires":[]},{"id":"8f448196.40f928","type":"ibmiot in","z":"2a35a231.efc376","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"playbulb23","applicationId":"","deviceType":"+","eventType":"IR1","commandType":"","format":"json","name":"IR Events From PI - adjust name","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":true,"allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":250,"y":120,"wires":[["b02d832c.c43ad8"]]},{"id":"61b82c27.a5f9e4","type":"debug","z":"2a35a231.efc376","name":"Touch","active":true,"console":false,"complete":"payload","x":710,"y":100,"wires":[]},{"id":"1d068ce4.6811fb","type":"function","z":"2a35a231.efc376","name":"SetColorGreen","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 0,\n\"gg\" : 255,\n\"bb\" : 0\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":740,"wires":[["eaf2b452.e08578"]]},{"id":"e73c3aba.f2d74","type":"comment","z":"2a35a231.efc376","name":"Make Sure to Adjust you candle number !!!!","info":"instructor: mvk@ca.ibm.com","x":260,"y":60,"wires":[]},{"id":"58da4577.7ee46c","type":"function","z":"2a35a231.efc376","name":"GetSetCounter","func":"myc =  global.get(\"myc\")\n\nif( isNaN(myc) ||typeof myc === undefined)\n\n    myc=0;\n\nmyc++;\nif(myc >9)\nmyc=0;\nglobal.set(\"myc\",myc)\nmsg.value=myc;\nmsg.payload = myc;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":420,"wires":[["8f8c3531.50aca8","eb418bcd.1fe0b","849247d7.87f908","56da3f2.aa5294"]]},{"id":"94996cc9.ba67d","type":"inject","z":"2a35a231.efc376","name":"Counter","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":170,"y":420,"wires":[["58da4577.7ee46c"]]},{"id":"7a04aa52.2c485c","type":"comment","z":"2a35a231.efc376","name":"Extra with LCD display","info":"","x":200,"y":340,"wires":[]},{"id":"8f8c3531.50aca8","type":"switch","z":"2a35a231.efc376","name":"","property":"value","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"6","vt":"num"},{"t":"eq","v":"7","vt":"num"},{"t":"eq","v":"8","vt":"num"},{"t":"eq","v":"9","vt":"num"}],"checkall":"true","outputs":10,"x":590,"y":440,"wires":[["aff44d94.2abdd8"],["955a5f0b.f1ef7"],["db5a5c.ed222da8"],["5ab0bfae.651c78"],["777da6c1.06a26"],[],["82746ace.bb739"],[],["9a38f1fd.1c9e28"],["7cda8aaf.674d5c"]]},{"id":"aff44d94.2abdd8","type":"function","z":"2a35a231.efc376","name":"SET LCD TO #0","func":"\n// You can send a command to the candle which address each panel \n// below would display #2\nvar newmsg = {\"cmd\" : \"set7SLED\",\n\"A\":1,\n\"B\":1,\n\"C\":1,\n\"D\":1,\n\"E\":1,\n\"F\":1,\n\"G\":0,\n\"DP\":1,\n\"N\":0\n}\nmsg.eventOrCommandType = \"set7SLED\"\nmsg.payload=newmsg ;\nreturn msg;\n","outputs":1,"noerr":0,"x":940,"y":300,"wires":[["707819e.a7114e8"]]},{"id":"eb418bcd.1fe0b","type":"debug","z":"2a35a231.efc376","name":"Counter","active":true,"console":false,"complete":"value","x":360,"y":500,"wires":[]},{"id":"82746ace.bb739","type":"function","z":"2a35a231.efc376","name":"SET LCD TO #6","func":"\n// You can send a command to the candle which address each panel \n// below would display #2\nvar newmsg = {\"cmd\" : \"set7SLED\",\n\"A\":0,\n\"B\":0,\n\"C\":1,\n\"D\":1       ,\n\"E\":1,\n\"F\":1,\n\"G\":1,\n\"DP\":0\n}\nmsg.eventOrCommandType = \"set7SLED\"\nmsg.payload=newmsg ;\nreturn msg;\n","outputs":1,"noerr":0,"x":940,"y":540,"wires":[["707819e.a7114e8"]]},{"id":"b6ac8bdd.6590f8","type":"comment","z":"2a35a231.efc376","name":"7 Segemnt LED","info":"https://en.wikipedia.org/wiki/Seven-segment_display\n/1    A  B  C   D   E   F   G  DP\nGpio,17, 4, 23, 24, 25, 27, 22, 18);\n\nAAAA = GPIO17\nF  B=GPIO04\nF  B\nGGGG =\nE  C\nE  C\nDDDD =24\nDP =18","x":940,"y":260,"wires":[]},{"id":"9a38f1fd.1c9e28","type":"function","z":"2a35a231.efc376","name":"SET LCD TO #8","func":"\n// You can send a command to the candle which address each panel \n// below would display #2\nvar newmsg = {\"cmd\" : \"set7SLED\",\n\"A\":1,\n\"B\":1,\n\"C\":1,\n\"D\":1       ,\n\"E\":1,\n\"F\":1,\n\"G\":1,\n\"DP\":0\n}\nmsg.eventOrCommandType = \"set7SLED\"\nmsg.payload=newmsg ;\nreturn msg;\n","outputs":1,"noerr":0,"x":940,"y":620,"wires":[["707819e.a7114e8"]]},{"id":"707819e.a7114e8","type":"ibmiot out","z":"2a35a231.efc376","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"playbulb23","deviceType":"playbulb","eventCommandType":"setColor","format":"json","data":"msg.payload","qos":0,"name":"Send to my PI - adjust name ??","service":"registered","x":1310,"y":440,"wires":[]},{"id":"849247d7.87f908","type":"ui_gauge","z":"2a35a231.efc376","name":"","group":"ef078c97.ecdb3","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":300,"wires":[]},{"id":"c92fd2c3.c3b938","type":"comment","z":"2a35a231.efc376","name":"UseInterface /ui","info":"","x":580,"y":260,"wires":[]},{"id":"eaf2b452.e08578","type":"ibmiot out","z":"2a35a231.efc376","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"playbulb23","deviceType":"playbulb","eventCommandType":"setColor","format":"json","data":"msg.payload","qos":0,"name":"Send to my Candle - adjust name ??","service":"registered","x":1090,"y":760,"wires":[]},{"id":"56da3f2.aa5294","type":"switch","z":"2a35a231.efc376","name":"","property":"value","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":570,"y":780,"wires":[["1d068ce4.6811fb"],["c7384b2a.e500f"],[]]},{"id":"f353f281.595b8","type":"function","z":"2a35a231.efc376","name":"Rotate LCD ","func":"\n// You can send a command to the candle which address each panel \n// below would display #2\nvar newmsg = {\"cmd\" : \"rotate7SLED\"\n}\nmsg.eventOrCommandType = \"rotate7SLED\"\nmsg.payload=newmsg ;\nreturn msg;\n","outputs":1,"noerr":0,"x":790,"y":880,"wires":[["eaf2b452.e08578"]]},{"id":"f7163f4d.4ce3b","type":"inject","z":"2a35a231.efc376","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":560,"y":880,"wires":[["f353f281.595b8"]]},{"id":"c7384b2a.e500f","type":"function","z":"2a35a231.efc376","name":"SetColorRED","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 255,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":800,"wires":[["eaf2b452.e08578"]]},{"id":"348956d3.90a32a","type":"inject","z":"2a35a231.efc376","name":"Test #1","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":910,"y":160,"wires":[["955a5f0b.f1ef7"]]},{"id":"db5a5c.ed222da8","type":"function","z":"2a35a231.efc376","name":"SET LCD TO #2","func":"\n// You can send a command to the candle which address each panel \n// below would display #2\nvar newmsg = {\"cmd\" : \"set7SLED\",\n\"A\":1,\n\"B\":1,\n\"C\":0,\n\"D\":1       ,\n\"E\":1,\n\"F\":0,\n\"G\":1,\n\"DP\":0,\n\"N\":2\n}\nmsg.eventOrCommandType = \"set7SLED\"\nmsg.payload=newmsg ;\nreturn msg;\n","outputs":1,"noerr":0,"x":940,"y":380,"wires":[["707819e.a7114e8"]]},{"id":"777da6c1.06a26","type":"function","z":"2a35a231.efc376","name":"SET LCD TO #4","func":"\n// You can send a command to the candle which address each panel \n// below would display #2\nvar newmsg = {\"cmd\" : \"set7SLED\",\n\"A\":0,\n\"B\":1,\n\"C\":1,\n\"D\":0,  \n\"E\":0,\n\"F\":1,\n\"G\":1,\n\"DP\":0\n}\nmsg.eventOrCommandType = \"set7SLED\"\nmsg.payload=newmsg ;\nreturn msg;\n","outputs":1,"noerr":0,"x":940,"y":460,"wires":[["707819e.a7114e8"]]},{"id":"5ab0bfae.651c78","type":"function","z":"2a35a231.efc376","name":"SET LCD TO #3","func":"\n// You can send a command to the candle which address each panel \n// below would display #2\nvar newmsg = {\"cmd\" : \"set7SLED\",\n\"A\":1,\n\"B\":1,\n\"C\":1,\n\"D\":1,\n\"E\":0,\n\"F\":0,\n\"G\":1,\n\"DP\":0\n}\nmsg.eventOrCommandType = \"set7SLED\"\nmsg.payload=newmsg ;\nreturn msg;\n","outputs":1,"noerr":0,"x":940,"y":420,"wires":[["707819e.a7114e8"]]},{"id":"bfcc35a5.28d4a8","type":"inject","z":"2a35a231.efc376","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":560,"y":840,"wires":[["c7384b2a.e500f"]]},{"id":"f1d7b53.87e2848","type":"function","z":"2a35a231.efc376","name":"time","func":"var d = new Date();\nvar n = d.toLocaleTimeString();\nvar n = d.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit',second:'2-digit', hour12: false}); \n\nmsg.payload = {}\nmsg.payload.time =n;\nmsg.payload.hours = n.substr(0,2)\nmsg.payload.minutes = n.substr(3,2)\nmsg.payload.seconds = n.substr(6,2)\n\nmsg.payload.hourone = n.substr(0,1)\nmsg.payload.hourtwo = n.substr(1,1)\nmsg.payload.minuteone = n.substr(3,1)\nmsg.payload.minutetwo = n.substr(4,1)\n\nmsg.payload.secondone = n.substr(6,1)\nmsg.payload.secondtwo = n.substr(7,1)\nmsg.payload = msg.payload.secondtwo \nreturn msg;","outputs":1,"noerr":0,"x":510,"y":1000,"wires":[["e9c441e9.ac3c4","3dc6cedb.5e629a"]]},{"id":"5d64a4da.e113d4","type":"inject","z":"2a35a231.efc376","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":270,"y":1000,"wires":[["f1d7b53.87e2848"]]},{"id":"e9c441e9.ac3c4","type":"debug","z":"2a35a231.efc376","name":"","active":false,"console":"false","complete":"false","x":710,"y":960,"wires":[]},{"id":"3dc6cedb.5e629a","type":"ui_text","z":"2a35a231.efc376","group":"ef078c97.ecdb3","order":0,"width":0,"height":0,"name":"","label":"Time","format":"{{msg.payload.time}}","layout":"row-spread","x":690,"y":1000,"wires":[]},{"id":"48ddd44a.a830b4","type":"ui_text_input","z":"2a35a231.efc376","name":"","label":"Number 0-9","group":"ef078c97.ecdb3","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":190,"y":580,"wires":[["80a37251.3decb8","146f6076.e2c358"]]},{"id":"80a37251.3decb8","type":"debug","z":"2a35a231.efc376","name":"UI-Input","active":true,"console":false,"complete":"payload","x":360,"y":640,"wires":[]},{"id":"146f6076.e2c358","type":"function","z":"2a35a231.efc376","name":"SetCounter","func":"myc = parseInt(msg.payload )\nglobal.set(\"myc\",myc)\nmsg.value=myc;\nmsg.payload=myc;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":580,"wires":[["8f8c3531.50aca8","849247d7.87f908"]]},{"id":"ab2e64fc.c4423","type":"ui_button","z":"2a35a231.efc376","name":"","group":"ef078c97.ecdb3","order":0,"width":0,"height":0,"passthru":false,"label":"RotateLED","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":550,"y":920,"wires":[["f353f281.595b8"]]},{"id":"d4ff29aa.69807","type":"ui_button","z":"2a35a231.efc376","name":"","group":"ef078c97.ecdb3","order":0,"width":0,"height":0,"passthru":false,"label":"NextNumber","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":480,"wires":[["58da4577.7ee46c"]]},{"id":"b02d832c.c43ad8","type":"switch","z":"2a35a231.efc376","name":"","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":510,"y":120,"wires":[["61b82c27.a5f9e4","58da4577.7ee46c"],[]]},{"id":"7cda8aaf.674d5c","type":"function","z":"2a35a231.efc376","name":"SET LCD TO #8","func":"\n// You can send a command to the candle which address each panel \n// below would display #2\nvar newmsg = {\"cmd\" : \"set7SLED\",\n\"A\":1,\n\"B\":1,\n\"C\":1,\n\"D\":0,\n\"E\":0,\n\"F\":1,\n\"G\":1,\n\"DP\":0,\n\"N\":9\n}\nmsg.eventOrCommandType = \"set7SLED\"\nmsg.payload=newmsg ;\nreturn msg;\n","outputs":1,"noerr":0,"x":940,"y":660,"wires":[["707819e.a7114e8"]]},{"id":"ef078c97.ecdb3","type":"ui_group","z":"","name":"LEDCounter","tab":"b665bd7f.cd15e8","disp":true,"width":"6"},{"id":"b665bd7f.cd15e8","type":"ui_tab","z":"","name":"7-SegLED","icon":"dashboard"}]
